:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}

header {
    font-size: 3em;
    font-weight: 600;
}

main {
    margin: 0 auto;
    max-width: 756px;
}

.app-error {
    margin: 1em;
    padding: 0.5em;
    font-weight: 800;
    font-size: 1.2em;
    border: solid 1px red;
    border-radius: 1em;
    background: rgb(255, 204, 204);
}

.comment {
    padding-left: 5px;
    border-left: rgb(191, 191, 191) solid 2px;
    border-radius: 2px;

    &>.header {
        display: flex;
        gap: 1em;
        background: #F5F7FA;
        padding: 5px;
        margin-top: 2em;

        &>.username {
            font-size: 1.3em;
            font-weight: 600;
        }

        &>.comment-rating {
            margin-left: auto;
        }
    }

    &>.text {
        font-size: 1.2em;
        margin-top: 1em;
    }

    &>.comment {
        margin-left: 20px;
    }

    &:not(&>.comment) {
        padding-right: 10px;
    }

    &+.comment {
        margin-top: 3em;
    }
}

.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}