:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}

header {
    font-size: 3em;
    font-weight: 600;
}

.message {
    padding-left: 5px;
    border-left: rgb(191, 191, 191) solid 2px;
    border-radius: 2px;

    &>.header {
        display: flex;
        justify-content: center;
        gap: 1em;
        background: #F5F7FA;
        padding: 5px;
        margin-top: 2em;

        &>.username {
            font-size: 1.3em;
            font-weight: 600;
        }

        &>.message-rating {
            margin-left: auto;
        }
    }

    &>.text {
        font-size: 1.2em;
        margin-top: 1em;
    }

    &>.message {
        margin-left: 20px;
    }

    &:not(&>.message) {
        padding-right: 10px;
    }

    &+.message {
        margin-top: 3em;
    }
}

.message-rating {
    display: flex;
    font-size: 1.3em;
    color: #768089;

    &>.rating {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 1.7em;
    }

    &>.like,
    &>.dislike {
        width: 0.9em;
        height: 0.9em;
        stroke-width: 0.25em;
        color: #B1B5BF;
        transition: transform 0.3s ease;
    }

    &>.like:hover, &>.like.active {
        transform: translateY(-3px);
        stroke: #4CAF50;
    }

    &>.dislike:hover, &>.dislike.active {
        transform: translateY(3px);
        stroke: #F44336;
    }
}